/* *{
    margin: 0 auto;
    padding: 0;
} */
div.content{
    width: 95%;
    border-bottom: 5px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem 0 3rem 0;
}
h1{
    margin-bottom: 1rem 0 1.5rem 0;
}
button{
    display: inline-block;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    background-color: slategray;
    color: white;
    font-weight: bold;
    margin-right: 2%;
}
p{
    display: inline-block;
}
    p.addition{
        display: none;
    }
img{
    height: 100px;
    vertical-align: top;
    display: none;
}
.red{
    color: red;
}
